// Colors

$art-color: #fad9d8; // Main color
$art-color_h: #f1e7e6;

$black: #000000;
$a-black: #101010;
$b-black: #4C4C4C;
$white: #FFFFFF;

// Fonts

// @import "fonts";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
